<div class="row-fluid">
  
  <div class="span3">
    <div class="row-fluid">
      <h4>Current Conditions</h4>
      <ul class="pull-left">
        <li>Indoor</li>
        <li>{{ d['weather_current'][1] }} &deg;F at {{ d['weather_current'][2] }}%</li>
      </ul>
      <ul class="pull-right"> 
        <li>Outdoor</li>
        <li>{{ d['weather_current'][3] }} &deg;F at {{ d['weather_current'][5] }}%</li>
      </ul>
    </div>


    <h4>Stats Last 24 Hours</h4>
    <ul class="pull-left">
      <li>Indoor</li>
      <li>Temp Min {{ d['weather_min_max']['indoor_temp_min'] }}&deg;F</li>
      <li>Temp Avg {{ d['weather_min_max']['indoor_temp_avg'] }}&deg;F</li>
      <li>Temp Max {{ d['weather_min_max']['indoor_temp_max'] }}&deg;F</li>
      <li>Humidity Min {{ d['weather_min_max']['indoor_humidity_min'] }}%</li>
      <li>Humidty Avg {{ d['weather_min_max']['indoor_humidity_avg'] }}%</li>
      <li>Humidty Max {{ d['weather_min_max']['indoor_humidity_max'] }}%</li>
    </ul>
    <ul class="pull-right">
      <li>Outdoor</li>
      <li>Temp Min {{ d['weather_min_max']['outdoor_temp_min'] }}&deg;F</li>
      <li>Temp Avg {{ d['weather_min_max']['outdoor_temp_avg'] }}&deg;F</li>
      <li>Temp Max {{ d['weather_min_max']['outdoor_temp_max'] }}&deg;F</li>
      <li>Humidity Min {{ d['weather_min_max']['outdoor_humidity_min'] }}%</li>
      <li>Humidty Avg {{ d['weather_min_max']['outdoor_humidity_avg'] }}%</li>
      <li>Humidty Max {{ d['weather_min_max']['outdoor_humidity_max'] }}%</li>
     </ul>
  </div>
  
  <div class="span8">
    <ul class="nav nav-tabs">
      <li><a href="#temp" class="active" data-toggle="tab">Temp</a></li>
      <li><a href="#humidity" data-toggle="tab">Humidity</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="temp">
        <iframe frameborder="0" width="100%" height="100%" src="/chart-temp/"></iframe>
  	    <div>
          Time Frame
          From
          <select id="temp_timeframe">
            <option>Now</option>
          </select>
          To
          <select id="temp_timeframe_to">
            <option>Last 24 hours</option>
            <option>From Grow Start</option>
  	     </select>
        </div>
      </div>
      <div class="tab-pane" id="humidity">
	     <iframe frameborder="0" width="100%" height="100%" src="/chart-humidity/"></iframe>
      </div>
    </div>
  </div>


</div>
