<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.arrayToDataTable([
          ['Date', 'Indoors', 'Outdoors'],
          {% for data in d['weather_stats_indoor'] %}
            ['{{ data[3] }}', {{ data[1] }}, {% if d['weather_stats_outdoor'][loop.index] %}{{ d['weather_stats_outdoor'][loop.index][1] }} {% else %} 0 {% endif %} ],
          {% endfor %}
        ]);

        var options = {
          title: 'Tempeature Indoor/Outdoor'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>