<html>
  <head>
    <title>Garden Pi</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap-responsive.min.css">
    <script type="text/javascript" src="/libs/jQuery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container-fluid">
      <div class="row-fluid">
	<div class="span12">
	  <h1>Garden Pi</h1>
	  <h2>Temperature / Humidity</h2>
	  <p>{{ target[1] }}F at {{target[2]}}</p>
	  <p>Reading taken at {{ target[3] }}
	</div>
      </div>
    </div>

  </body>
</html>
