<div class="row-fluid">
  
  <div class="span6">
    <h3>System Settings</h3>
    <form action="/settings_update/" method="POST">
      <ul>
        {% for option in d['settings'] %}
          <li class="row">
            <span class="span4">{{ option[4] }}</span>
            <span class="span8">
              <input name="settings['{{ option[1] }}']" type="text" class="input input-large" value="{{ option[2] }}">
            </span>
          </li>
        {% endfor %}
        <li><input class="btn btn-primary" value="Update" type="submit"></li>
      </ul>
    </form>
  </div>

  <div class="span6">
    <h3>Users</h3>
    {% for user in d['users'] %}
      {{ d['users'][0] }}, {{ d['users'][1] }}
    {% endfor %}      
  </div>

</div>
