<div class="row-fluid">

  <div class="span4">
    <ul>
      <li>Log PasdH</li>
      <li>Log PPM</li>
    </ul>
  </div>

  <div class="span8">
    <ul class="nav nav-tabs">
      <li><a href="#temp" class="active" data-toggle="tab">Temp</a></li>
      <li><a href="#pH" data-toggle="tab">pH</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="temp">
        <iframe frameborder="0" width="100%" height="100%" src="/chart_water_temp/"></iframe>
  	    <div>
          Time Frame
          From
          <select id="temp_timeframe">
            <option>Now</option>
          </select>
          To
          <select id="temp_timeframe_to">
            <option>Last 24 hours</option>
            <option>From Grow Start</option>
  	     </select>
        </div>
      </div>
      <div class="tab-pane" id="pH">
	    No pH Sensor to graph currently
      </div>
    </div>
  </div>

</div>
